{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Menu -->
<section class="main-section">
    <div class="admin-section-top">
        <div>
            <div class="uk-section-secondary uk-preserve-color">
                <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                    <nav class="uk-navbar-container" uk-navbar="mode: click;">
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo logo-size" href="index.html"><img src="/static/img/logo_2_w.png" alt="zeros"></a>                                                 
                        </div>
                        <div class="uk-navbar-right uk-dark">
                            <ul class="uk-navbar-nav uk-iconnav">
                                <li>
                                    <a href="{% url 'addfood' %}" uk-toggle><span uk-icon="heart"></span> Add Food </a>
                                </li>
                                <li>
                                    <a href="{% url 'users' %}" uk-toggle><span uk-icon="heart"></span> Clients </a>
                                </li>
                                <li>
                                    <a href="{% url 'foodlist' %}" uk-toggle><span uk-icon="heart"></span> Update Food List </a>
                                </li>
                                <li>
                                    <a href="{% url 'orders' %}" uk-toggle><span uk-icon="heart"></span> Order List </a>
                                </li>
                                <li>
                                    <a href="#" > User </a>
                                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                        <div class="uk-navbar-dropdown-grid uk-child-width-1" uk-grid>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li class="">
                                                        <a href="{% url 'userlogout' %}" class="uk-button uk-button-primary">Logout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>                                    
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</section>

{% block adminsection %}

{% endblock %}

<section id="footer">
    <div class="uk-padding">                            
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
            <a class="uk-navbar-item uk-logo logo-size" href="index.html"><img src="/static/img/logo_2.png" alt="zeros"></a>   
            <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">[i]RONMAMA</a>@2020</p>
        </div>                
    </div>
</section>

{% endblock %}