{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Home Page Section -->
<section class="main-section">
    <div class="main-section-content">
        <div>
            <div class="uk-section-secondary uk-preserve-color">
                <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 200">
                    <nav class="uk-navbar-container" uk-navbar="mode: click;">
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo logo-size" href="{% url 'home' %}"><img src="/static/img/logo_2_w.png" alt="zeros"></a>                    
                        </div>
                        <div class="uk-navbar-right uk-dark">
                            <ul class="uk-navbar-nav uk-iconnav">
                                <li>
                                    <a href="#cart" uk-toggle><span uk-icon="heart"></span> Cart</a>
                                </li>
                                <li>
                                    <a href="#" > {{ user }} </a>
                                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li class="">
                                                        {% if user != "USER" %}
                                                            <a href="{% url 'userlogout' %}" class="uk-button uk-button-primary">Logout</a>
                                                        {% else %}
                                                            <a href="{% url 'login' %}" class="uk-button uk-button-primary">Login</a>
                                                        {% endif %}
                                                        {% comment %} <a href="{% url 'login' %}" class="uk-button uk-button-primary">Login</a> {% endcomment %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li class="">
                                                        <a href="{% url 'register' %}" class="uk-button uk-button-secondary">Register</a>
                                                    </li> 
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>                                    
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="uk-background-cover uk-dark uk-panel" uk-parallax="bgy: -200" style="background-image: url(/static/img/app_plx.jpg);">
                <div class="h-70 uk-flex uk-flex-left uk-flex-bottom">
                    <div class="uk-flex-column">
                        <div class="uk-flex uk-flex-column uk-animation-slide-top-small">
                            <div>
                                <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-margin-bottom">                                        
                                    <p class="zeros-sub-head">Order Your foods from here</p>
                                </div>
                            </div>                            
                        </div>  
                    </div>                                                  
                </div>
            </div>
        </div>
    </div>
</section>

<div id="cart" uk-offcanvas="mode: push; flip: true; overlay: true">
    <div class="uk-offcanvas-bar">                        
        <button class="uk-offcanvas-close" type="button" uk-close></button>                                                
        <h3 class="uk-h4 zeros-head">Cart</h3>      
                        
        <form class="uk-form-stacked">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Full Name">
                </div>
            </div>
        
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">Select City</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-select">
                        <option>Dhaka</option>
                        <option>Khulna</option>
                    </select>
                </div>
            </div>

            <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Select Area</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-stacked-select">
                            <option>Dhanmondi</option>
                            <option>Kolabagan</option>
                        </select>
                    </div>
                </div>
        
            <div class="uk-margin">
                <div class="uk-form-label">Preference</div>
                <div class="uk-form-controls">
                    <label><input class="uk-radio" type="radio" name="radio1"> Lunch</label><br>
                    <label><input class="uk-radio" type="radio" name="radio2"> Dinner</label>
                </div>
            </div>        
            <div class="uk-margin">
                <button class="uk-button uk-button-danger">Search</button>
            </div>    
        </form>
    </div>
</div>

<!-- itemsList -->
<section id="foods-items">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m" uk-grid>
            {% for food in data %}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/static/img/deco1.jpg" alt="">
                    </div>
                    {% if food.status == "avail" %}
                        <div class="uk-card-badge uk-label-success">Available</div>
                    {% elif food.status == "out" %}
                        <div class="uk-card-badge uk-label-danger">Out Of Stock</div>
                    {% elif food.status == "few" %}
                        <div class="uk-card-badge uk-label-warning">Few left</div>
                    {% endif %}
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ food.name }}</h3>
                        <p>{{ food.description }}</p>
                        <p>Price: {{ food.price }} ৳</p>
                        <p>Lunch/Dinner: {{ food.time }}</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Add Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/static/img/deco1.jpg" alt="">
                    </div>
                    <div class="uk-card-badge uk-label-success">Available</div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Food Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <p>Price: 0.00 ৳</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Add Cart</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/static/img/deco1.jpg" alt="">
                    </div>
                    <div class="uk-card-badge uk-label-warning">Few left</div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Food Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <p>Price: 0.00 ৳</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Add Cart</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/static/img/deco1.jpg" alt="">
                    </div>
                    <div class="uk-card-badge uk-label-danger">Out Of Stock</div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Food Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <p>Price: 0.00 ৳</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Add Cart</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="/static/img/deco1.jpg" alt="">
                    </div>
                    <div class="uk-card-badge uk-label-danger">Out Of Stock</div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Food Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <p>Price: 0.00 ৳</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Add Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="uk-margin-top uk-padding">                            
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-flex-between uk-flex-middle">
            <a class="uk-navbar-item uk-logo logo-size" href="{% url 'home' %}"><img src="/static/img/logo_2.png" alt="zeros"></a>   
            <p class="uk-text-center"> <span class="zeros-sub-head copy">Copyright</span>  © <a href="#">[i]RONMAMA</a>@2020</p>
        </div>                
    </div>
</section>
{% endblock %}